{
    "env": {
        "development": {
            "presets": [
                "next/babel",
                [
                    "@emotion/babel-preset-css-prop",
                    {
                        "sourceMap": true
                    }
                ]
            ]
        },
        "production": {
            "presets": ["next/babel", "@emotion/babel-preset-css-prop"]
        },
        "test": {
            "presets": [
                [
                    "next/babel",
                    {
                        "preset-env": {
                            "modules": "commonjs"
                        }
                    }
                ],
                "@emotion/babel-preset-css-prop"
            ]
        }
    }
}
